name: good CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t static-site -f LabDocker/Dockerfile/Dockerfile.good .

      - name: Save image
        run: docker save static-site -o docker-image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: docker-image.tar

  smoke-test:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load image
        run: docker load < docker-image.tar

      - name: Launch container and test
        run: | 
          docker run -d -p 8080:80 --name static static-site
          curl --fail http://localhost:8080/landing/ChooseProject.html